beautifulsoup4==4.5.3
cachetools==2.0.0
certifi==2017.7.27.1
chardet==3.0.4
dill==0.2.7.1
future==0.16.0
google-auth==1.0.2
google-auth-httplib2==0.0.2
google-cloud-core==0.25.0
google-cloud-vision==0.25.1
google-gax==0.15.13
googleapis-common-protos==1.5.2
grpcio==1.4.0
httplib2==0.10.3
idna==2.5
ply==3.8
protobuf==3.3.0
psycopg2==2.7.1
pyasn1==0.3.1
pyasn1-modules==0.0.10
requests==2.18.3
rsa==3.4.2
schedule==0.4.2
six==1.10.0
SQLAlchemy==1.1.10
urllib3==1.22
